/* .App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
} */

/***********************************/

.btn,
.btn:hover,
.btn:active,
.btn:active:focus,
.btn:visited,
.btn:focus {
	box-shadow: none !important;
}

/***********************************/

#tictactoeboard {
	/* border: 1px black solid; */
	font-size: 5rem;
	text-align: center;
	margin: 1rem auto;
}
.square {
	width: 10rem;
	height: 10rem;
}
.vert {
	border-left: 2px solid black;
	border-right: 2px solid black;
}
.hori {
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}

/***********************************/

#messages {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#messages > li {
	padding: 0.5rem 1rem;
}

#messages > li:nth-child(odd) {
	background: #efefef;
}

#message-form {
	background: rgba(0, 0, 0, 0.15);
	padding: 0.25rem;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	height: 3rem;
	box-sizing: border-box;
	backdrop-filter: blur(10px);
}

#username-form {
	text-align: center;
	background: rgba(0, 0, 0, 0.15);
	padding: 0.5rem;
	height: 3rem;
	box-sizing: border-box;
	margin-bottom: 2rem;
}

#input,
#username {
	border: none;
	padding: 0 1rem;
	flex-grow: 1;
	border-radius: 2rem;
	margin: 0.25rem;
}
#input:focus {
	outline: none;
}
#message-form button,
#username-form button {
	background: #333;
	border: none;
	padding: 0 1rem;
	margin: 0.25rem;
	border-radius: 3px;
	outline: none;
	color: #fff;
}

/***********************************/

#hexGrid,
#throwHexGrid {
	/* border: 0.2rem black solid; */
	display: grid;
	grid-gap: 0.2rem;
	grid-template-columns: repeat(18, 1fr);
	width: 30rem;
	max-width: 100%;
	margin: 1rem auto;
	list-style-type: none;
	overflow: hidden;
	padding: 0rem;
	padding-bottom: 1.6rem;
}

.hex {
	grid-column-end: span 2;
	position: relative;
	visibility: hidden;
	outline: 1px solid transparent; /* fix for jagged edges */
}

.hex::after {
	content: "";
	display: block;
	/* =  100 / tan(60) * 1.5 */
	padding-bottom: 86.602%;
}

.hexIn {
	position: absolute;
	width: 100%;
	padding-bottom: 115.47%; /* =  width / sin(60) */
	overflow: hidden;
	visibility: hidden;
	outline: 1px solid transparent; /* fix for jagged edges in FF on hover transition */
	-webkit-transform: rotate3d(0, 0, 1, -60deg) skewY(30deg);
	-ms-transform: rotate3d(0, 0, 1, -60deg) skewY(30deg);
	transform: rotate3d(0, 0, 1, -60deg) skewY(30deg);
}
.hexIn * {
	position: absolute;
	visibility: visible;
	outline: 1px solid transparent; /* fix for jagged edges in FF on hover transition */
}

.hexContentOuter {
	display: block;
	width: 100%;
	height: 100%;
	text-align: center;
	color: #fff;
	overflow: hidden;
	-webkit-transform: skewY(-30deg) rotate3d(0, 0, 1, 60deg);
	-ms-transform: skewY(-30deg) rotate3d(0, 0, 1, 60deg);
	transform: skewY(-30deg) rotate3d(0, 0, 1, 60deg);
}

.hexContentInner {
	background-color: lightgrey;
	width: 100%;
	height: 100%;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	/* font-weight: 300; */
	-webkit-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.center {
	text-align: center;
}

#throwHexGrid > .hex:nth-child(1) {
	grid-column-start: 7;
}

.hex:nth-child(1) {
	grid-column-start: 5;
}
.hex:nth-child(6) {
	grid-column-start: 4;
}
.hex:nth-child(12) {
	grid-column-start: 3;
}
.hex:nth-child(19) {
	grid-column-start: 2;
}
.hex:nth-child(27) {
	grid-column-start: 1;
}
.hex:nth-child(36) {
	grid-column-start: 2;
}
.hex:nth-child(44) {
	grid-column-start: 3;
}
.hex:nth-child(51) {
	grid-column-start: 4;
}
.hex:nth-child(57) {
	grid-column-start: 5;
}

#upperScore,
#lowerScore {
	font-size: 5rem;
	font-weight: bolder;
	margin: 0 2rem;
}

#lowerScore {
	color: #ae213b;
}
